<div  class="outerBox" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="50">
 
   
      <mat-icon (mousedown)="pointDown('Tl')"
      id="Tl" class="material-icons-outlined point">adjust</mat-icon>


  </div>

  <div fxFLex="50">
    <mat-icon (mousedown)="pointDown('Tr')" 
    id="Tr" class="material-icons-outlined point">adjust</mat-icon>

  </div>

</div>

<div class="outerBox" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="20">

  </div>

  <div id="innerBox" fxFLex="60">
  </div>

  <div fxFLex="20">
  </div>

</div>


<div class="outerBox" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="50">
    <mat-icon (mousedown)="pointDown('Bl')"
    id="Bl" class="material-icons-outlined point">adjust</mat-icon>
    

  </div>

  <div fxFLex="50">
    <mat-icon (mousedown)="pointDown('Br')"
    id="Br" class="material-icons-outlined point">adjust</mat-icon>
   
  </div>

</div>