<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="50" style="display: block;">


    <mat-icon (mousedown)="pointDown('Tl')" id="Tl" class="material-icons-outlined point">adjust</mat-icon>

  </div>


  <div fxFLex="50">
    <mat-icon (mousedown)="pointDown('Tr')" id="Tr" class="material-icons-outlined point">adjust</mat-icon>

  </div>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="20">

  </div>

  <div id="innerBox" fxFLex="60">
  </div>

  <div fxFLex="20">
  </div>

</div>



<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="50">
    <mat-icon (mousedown)="pointDown('Bl')" id="Bl" class="material-icons-outlined point">adjust</mat-icon>


  </div>

  <div fxFLex="50">
    <mat-icon (mousedown)="pointDown('Br')" id="Br" class="material-icons-outlined point">adjust</mat-icon>

  </div>

</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div *ngIf="innerBoxBorderRadius" fxFLex="60">
    {{innerBoxBorderRadius}}
  </div>
  <div *ngIf="innerBoxBorderRadius == null" fxFLex="60">
   
    <mat-form-field  class="fieldResult" appearance="fill">
      <mat-label>Border Radius</mat-label>
      <input value="border-radius: {{Tl}}% {{Tr}}% {{Br}}% {{Bl}}%;" matInput readonly>
      <button matSuffix mat-icon-button>
        <mat-icon>file_copy</mat-icon>
      </button>
    </mat-form-field>

  </div>
</div>  

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="50">

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Top-Left</mat-label>
      <input [(ngModel)]="Tl" name="Tl" (keyup)="appyRadiusFromInput('Tl')" matInput >
      <button matSuffix mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Top-Right</mat-label>
      <input [(ngModel)]="Tr" name="Tr" (keyup)="appyRadiusFromInput('Tr')" matInput >
      <button matSuffix mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Bottom-Left</mat-label>
      <input [(ngModel)]="Bl" name="Bl" (keyup)="appyRadiusFromInput('Bl')" matInput >
      <button matSuffix mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Bottom-Right</mat-label>
      <input [(ngModel)]="Br" name="Br" (keyup)="appyRadiusFromInput('Br')" matInput >
      <button matSuffix mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


  </div>


</div>